<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./assets/app.min.css">
  <title>Bakery</title>
</head>

<body>
  <header class="header">
    <a href="#" class="logo">Gustoso</a>

    <nav class="nav">
      <ul class="nav_wrapper">
        <li class="nav_item">
          <a href="#" class="nav_item-link">welcome</a>
        </li>
        <li class="nav_item">
          <a href="#" class="nav_item-link">menu</a>
        </li>
        <li class="nav_item">
          <a href="#" class="nav_item-link">reservations</a>
        </li>
        <li class="nav_item">
          <a href="#" class="nav_item-link">news</a>
        </li>
        <li class="nav_item">
          <a href="#" class="nav_item-link">contact</a>
        </li>
      </ul>
    </nav>

    <ul class="social">
      <li class="social_item">
        <a href="#" class="social_item-link">tw</a>
      </li>
      <li class="social_item">
        <a href="#" class="social_item-link">fb</a>
      </li>
      <li class="social_item">
        <a href="#" class="social_item-link">inst</a>
      </li>
    </ul>
  </header>

  <section class="prev-section">
    <h1 class="prev-section_title">Pastry with love</h1>
    <p class="prev-sectio_text">
      We’re bringing you fresh ingredients every day in ways you can’t resist.
    </p>

    <a href="#" class="menu-btn">our menu</a>

    <div class="main-section_decoration"></div>
  </section>

  <section class="art-section">
    <div class="art-section_left">
      <div class="art-section_title-wrap">
        <h2 class="art-section_title">Art of cakes</h2>
        <div class="art-section_title-text">we create delicious memories</div>
      </div>

      <p class="art-section_description">
        Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam
        rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque
        sed.
      </p>

      <div class="art-section_chef-block">
        <h5 class="art-section_chef-title">Chef cook</h5>
        <div class="art-section_chef-name">
          <div class="art-section_name-text">Benito</div>
          <div class="art-section_chef-foto">
            <img src="#" alt="Chef-foto">
          </div>
          <div class="art-section_name-text">Gaspare</div>
        </div>
      </div>

      <div class="art-section_quote">
        Unique creations for unique occasions.
      </div>
    </div>

    <div class="art-section_right">
      <div class="art-section_img-wrap">
        <div class="art-section_img-item">
          <img src="#" alt="product-foto" class="art-section_img">
        </div>
        <div class="art-section_img-item">
          <img src="#" alt="product-foto" class="art-section_img">
        </div>
        <div class="art-section_img-item">
          <img src="#" alt="product-foto" class="art-section_img">
        </div>
        <div class="art-section_img-item">
          <img src="#" alt="product-foto" class="art-section_img">
        </div>
      </div>
      <div class="art-section_right-title">Tastes so good!</div>
    </div>
  </section>

  <section class="offer-section">
    <div class="offer-section_content">
      <div class="offer-section_content-img">
        <img src="#" alt="offer-img">
      </div>

      <div class="offer-section_content-description">
        <div class="offer-section_description-title">
          <h5 class="offer-section_title">Tasty pancakes</h5>
          <div class="offer-section_title-text">season favourite</div>
        </div>

        <p class="offer-section_text">
          Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit
          amet orci eget eros faucibus.
        </p>

        <ul class="offer-section_slider">
          <li class="offer-section_slider-item">
            <img src="#" alt="slider-img">
          </li>
          <li class="offer-section_slider-item">
            <img src="#" alt="slider-img">
          </li>
          <li class="offer-section_slider-item">
            <img src="#" alt="slider-img">
          </li>
          <li class="offer-section_slider-item">
            <img src="#" alt="slider-img">
          </li>
          <li class="offer-section_slider-item">
            <img src="#" alt="slider-img">
          </li>
        </ul>
      </div>

      <div class="offer-section_cook-time">
        <div class="offer-section_cook-title">Ready in</div>
        <div class="offer-section_cook-time">40</div>
        <div class="offer-section_cook-text">mins</div>
      </div>
    </div>
  </section>

  <section class="menu-section">
    <div class="menu-section_menu-list">
      <div class="menu-section_title-wrap">
        <h5 class="menu-section_menu-title">Breakfast</h5>
        <div class="menu-section_menu-text">7am Breakfast? we’re open!</div>
      </div>

      <ul class="menu-section_menu-items-wrap">
        <li class="menu-section_menu-item">
          <div class="menu-section_item-title">Full breakfast</div>
          <div class="menu-section_item-description">Duis ut tortor, et risus, vulputate pretium</div>
          <div class="menu-section_item-price">$12.49</div>
        </li>
        <li class="menu-section_menu-item">
          <div class="menu-section_item-title">Toast & Jam</div>
          <div class="menu-section_item-description">Suspendisse, tempus, nterdum</div>
          <div class="menu-section_item-price">$4.90</div>
        </li>
        <li class="menu-section_menu-item">
          <div class="menu-section_item-title">Muffins</div>
          <div class="menu-section_item-description">Fusce eget dui sodales est</div>
          <div class="menu-section_item-price">$3.95</div>
        </li>
      </ul>
    </div>

    <div class="menu-section_description">
      <div class="menu-section_description-bg">
        <div class="menu-section_description-info">
          <span>EST.</span>
          <span>1893</span>
        </div>

        <div class="menu-section_description-decorate"></div>

        <div class="menu-section_description-title">Your morning Escape with Flair</div>

        <p class="menu-section_description-text">Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.
          Duis leo.</p>

        <a href="#" class="read-btn">READ</a>
      </div>
      <div class="menu-section_description-bg"></div>
      <div class="menu-section_description-bg"></div>
    </div>
  </section>

  <section class="recipe-section">
    <div class="recipe-section_title-wrap">
      <h5 class="recipe-section_title">The Jibarito sandwich</h5>
      <div class="recipe-section_title-text">the best sandwich you’ve ever tasted!</div>
    </div>

    <ul class="recipe-section_advantages">
      <li class="recipe-section_advantages-item">
        <div class="recipe-section_advantages-img">
          <img src="#" alt="advantages-item">
        </div>
        <div class="recipe-section_advantages-title">Class aptent</div>
        <div class="recipe-section_advantages-text">Quot alienum persecuti ut eam, nam ad atqui primis nusquam.</div>
      </li>
      <li class="recipe-section_advantages-item">
        <div class="recipe-section_advantages-img">
          <img src="#" alt="advantages-item">
        </div>
        <div class="recipe-section_advantages-title">Nulla eget</div>
        <div class="recipe-section_advantages-text">Nullam dictum felis eu pede mollis pretium Integer tincidunt.</div>
      </li>
      <li class="recipe-section_advantages-item">
        <div class="recipe-section_advantages-img">
          <img src="#" alt="advantages-item">
        </div>
        <div class="recipe-section_advantages-title">Sed nibh purus</div>
        <div class="recipe-section_advantages-text"> Aenean eleifend tellus leo ligula, porttitor eu, consequat vitae.</div>
      </li>
    </ul>

    <div class="recipe-section_recipe-description">
      <img src="#" alt="recipe" class="recipe-section_img">

      <ul class="recipe-section_features-wrap">
        <li class="recipe-section_feature">
          <div class="recipe-section_feature-title">prep</div>
          <div class="recipe-section_feature-time">15</div>
          <div class="recipe-section_feature-text">mins</div>
        </li>
        <li class="recipe-section_feature">
          <div class="recipe-section_feature-title">cook</div>
          <div class="recipe-section_feature-time">35</div>
          <div class="recipe-section_feature-text">mins</div>
        </li>
        <li class="recipe-section_feature">
          <div class="recipe-section_feature-title">ready in</div>
          <div class="recipe-section_feature-time">50</div>
          <div class="recipe-section_feature-text">mins</div>
        </li>
      </ul>

      <a href="#" class="recipe-btn">full recipe</a>
    </div>
  </section>

  <footer class="footer">
    <nav class="footer-nav">
      <ul class="footer-nav_left-wrap">
        <li class="footer-nav_item">
          <a href="#" class="footer-nav_link">our menu</a>
        </li>
        <li class="footer-nav_item">
          <a href="#" class="footer-nav_link">gallery</a>
        </li>
        <li class="footer-nav_item">
          <a href="#" class="footer-nav_link">culture</a>
        </li>
      </ul>

      <a href="#" class="logo">Gustoso</a>

      <ul class="footer-nav_right-wrap">
        <li class="footer-nav_item">
          <a href="#" class="footer-nav_link">events</a>
        </li>
        <li class="footer-nav_item">
          <a href="#" class="footer-nav_link">catering</a>
        </li>
        <li class="footer-nav_item">
          <a href="#" class="footer-nav_link">visit us</a>
        </li>
      </ul>
    </nav>
  </footer>
</body>

</html>